<div class="appointment">
    <div class="header">
      <p>{{ patient.name }} - Appointments</p>
      
    </div>
    <button class="close" (click)="closeDialog()">
        <img src="../../../assets/subtract5016-ufl6.svg" alt="Close" />
    </button>
    <mat-table [dataSource]="appointments">
      <ng-container matColumnDef="Appointment Time">
        <mat-header-cell *matHeaderCellDef>Appointment Time</mat-header-cell>
        <mat-cell *matCellDef="let appointment">{{ appointment.appointmentTime | date: 'MMM dd, yyyy hh:mm a' }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Main Provider">
        <mat-header-cell *matHeaderCellDef>Main Provider</mat-header-cell>
        <mat-cell *matCellDef="let appointment">{{ appointment.mainProvider }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Location">
        <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
        <mat-cell *matCellDef="let appointment">{{ appointment.location }}</mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="headers" class="appointments-header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: headers;" class="appointment-item"></mat-row>
    </mat-table>
  </div>