<div class="main-content">
  <div class="doctor-info">
    <h1>Dr. {{ user?.name }}</h1>
  </div>
  <div class="nav-items-list">
    <div class="nav-item" (click)="openWorkload()">
      <img src="assets/Signing.svg" width="55" height="55">
      <p>Workload</p>
    </div>
    <div class="nav-item" (click)="fileReport()">
      <img style="padding-top: 3px" src="assets/Info.svg" width="70" height="70">
      <p style="margin-top: -20px">Report</p>
    </div>
    <div class="nav-item">
      <img src="assets/Question.svg" width="50" height="50">
      <p>Help</p>
    </div>
    <div class="nav-item" (click)="openUserProfile()">
      <img src="assets/User_cicrle.svg" width="50" height="50">
      <p>User</p>
    </div>
    <div class="nav-item" (click)="logout()">
      <img src="assets/Sign_out_squre.svg" width="50" height="50">
      <p>Sign out</p>
    </div>
  </div>
</div>
