<div class="workload">
    <div class="header">
      <p>Patient Workload</p>
      
    </div>
    <button class="close" (click)="closeDialog()">
        <img src="../../../assets/subtract5016-ufl6.svg" alt="Close" />
    </button>
    <div *ngIf="!selectMode">
    <table mat-table [dataSource]="reports" class="Report">
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef class="data-header"> Date </th>
            <td mat-cell *matCellDef="let report"> {{ report.date | date : 'medium' }} </td>
          </ng-container>
  
          <ng-container matColumnDef="Report Type">
            <th mat-header-cell *matHeaderCellDef class="data-header"> Report Type </th>
            <td mat-cell *matCellDef="let report"> {{ report.type }} </td>
          </ng-container>
  
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef class="data-header"> Status </th>
            <td mat-cell *matCellDef="let report"> {{ report.reportStatus }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="headers"></tr>
          <tr mat-row *matRowDef="let row; columns: headers" class="item" (click)="select(row)"></tr>
    </table>
    </div>
    <div *ngIf="selectMode" class="sign">
        <div class="reportinfo">
            <p class="select"><strong>Patient:</strong> {{ patient.name}}</p>
            <p class="select"><strong>Report ID:</strong> {{ selectedReport?.id}}</p>
            <p class="select"><strong>Report Issued Date:</strong> {{ selectedReport?.date }}</p>
            <p class="select"><strong>Report Type:</strong> {{ selectedReport?.type }}</p>
        </div>
        <div class="dropdown">
            <button [matMenuTriggerFor]="menu">
                {{ sendMode ? selectedUserStr : 'Select Recipient' }}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let user of users" (click)="selectUser(user)">
                <span>{{ user.name }} ({{user.username}})</span>
              </button>
            </mat-menu>
        </div>
        <div class="report-buttons-container">
            <button mat-button class="back-button" (click)="deselect()">Back</button>
            <div>
            <div *ngIf="!sendMode">
              <button mat-button class="sign-button-off">Send Report</button>
            </div>
            <div *ngIf="sendMode">
              <button mat-button class="sign-button-on" (click)="sendReport()">Send Report</button>
            </div>
        </div>
        </div>   
    </div>
</div>