<div class="home-container">
  <div class="home-fields">
    <div class="home-screen">
      <span class="home-text"><span>ACCOUNT LOGIN</span></span>
      <div class="home-frame59">
        <div class="home-logintype">
          <span class="home-text02"><span>Hospital Site</span></span>
          <img
            alt="fluentchevrondown16filledI501"
            src="/assets/external/fluentchevrondown16filledi501-124.svg"
            class="home-fluentchevrondown16filled"
          />
        </div>
      </div>
      <div class="home-input">
        <span class="home-text04"><span>Username</span></span>
        <img
          alt="Line5I501"
          src="/assets/external/line5i501-uc4.svg"
          class="home-line5"
        />
      </div>
      <div class="home-input1">
        <span class="home-text06"><span>Password</span></span>
        <div class="home-blind1">
          <div class="home-group">
            <img
              alt="VectorI501"
              src="/assets/external/vectori501-j99l.svg"
              class="home-vector"
            />
            <img
              alt="VectorI501"
              src="/assets/external/vectori501-lm6n.svg"
              class="home-vector1"
            />
            <img
              alt="VectorI501"
              src="/assets/external/vectori501-ycd.svg"
              class="home-vector2"
            />
          </div>
        </div>
        <img
          alt="Line5I501"
          src="/assets/external/line5i501-wxna.svg"
          class="home-line51"
        />
      </div>
      <button class="home-button">
        <span class="home-text08"><span>Login</span></span>
      </button>
    </div>
  </div>
</div>
