:host { 
  display: contents; 
}
.login-container {
  width: 100%;
  height: 90%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1631549916768-4119b2e5f926?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE2fHxtZWRpY2luZXxlbnwwfHx8fDE2OTE5NDUyODF8MA&ixlib=rb-4.0.3&w=1500");
}
.login-fields {
  top: 0px;
  right: 0px;
  width: 40%;
  bottom: 0px;
  height: 90%;
  margin: auto;
  display: flex;
  padding: 61px 114px;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 70px 0 0 60px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.login-screen {
  gap: 33px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.login-text {
  color: var(--dl-color-default-heading1);
  width: 100%;
  height: auto;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame59 {
  gap: 33px;
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.login-logintype {
  gap: 36px;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 241, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(241, 246, 255, 1);
}
.login-text02 {
  color: rgba(97, 147, 181, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.login-fluentchevrondown16filled {
  display: display-inside;
  align-self: flex-end;
  align-items: flex-start;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 90%;
}
.login-input {
  width: 100%;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.login-text04 {
  color: rgba(125, 122, 122, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.login-line5 {
  width: 100%;
  height: 1px;
  align-self: stretch;
}
.login-line51 {
  width: 100%;
  height: 1px;
  z-index: 1;
  align-self: stretch;
}
.login-button {
  gap: 10px;
  width: 100%;
  display: flex;
  padding: 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(85, 107, 128, 1);
}
.login-button:hover {
  background-color: rgb(118, 167, 212);
  border-color: gray;
}
.login-text08 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.menu-container {
  width: 100%;
  gap: 36px;
  top: 0px;
  left: 0px;
  padding: 10px 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 241, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(241, 246, 255, 1);
}
.toggle {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 65%;
}
.menu {
  width: 100%;
  background-color: #ccc;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 241, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
}
.menu-item {
  cursor: pointer;
  padding: 10px;
}
.menu-item:hover {
  background-color: #95b3ca;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(227, 241, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
}
.menu-container:hover {
  background-color: #dbecf9;
}