
  <div class="user-profile">
  
    <!-- Display user profile details -->
    <div *ngIf="user && !editMode" class="info">
      <h1>{{ user.firstName }} {{ user.lastName }}</h1><br><br>
        <p><strong>ID Number:</strong> {{ user.id }} </p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Role:</strong> {{ user.role }} </p>
        <p><strong>Extension:</strong> {{ user.extension }} </p>
      <br><br>
      <button class="edit" (click)="toggleEditMode()"><span class="edit-text">Edit Password</span></button>
      <button mat-button (click)="closeDialog()">Close</button>
    </div>
  
    <!-- Editable fields when in edit mode -->
    <div *ngIf="editMode">
      <form [formGroup]="editForm">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
      </form>
      <button mat-button (click)="saveChanges()">Save</button>
      <button mat-button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>